li {
    list-style: none;
    background-color: red;
}
ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    background-color:green;
    flex-direction: column;
   
    justify-items: center;
}